<div class="container_16">
  <div class="grid_16"><%= error_messages_for 'bet', 'prize' %></div>  
  <div class="grid_16"><h1>Create a bet</h1></div>
     
  <div>
  <% form_for @bet, @prize, :url => bet_path, :html => { :method => :post } do |bet_form| %>
    <div class="grid_16">
      <%= bet_form.label :title %>
      <%= bet_form.text_field :title %>
    </div>
    <div class="grid_16">
      <%= bet_form.label :prize %>
      <%= bet_form.text_field :prize %>
    </div>

    <div class="grid_16"><h3>Your Terms</h3></div>
    <% bet_form.fields_for :user_bet_conditions do |bet_condition| %>
      <div class="grid_16">      
        <%= bet_condition.label :odds %>
        <%= bet_condition.text_field :ratio, :size => 5, :value => 1 %><br />
      </div>    
      <div class="grid_16">
        <%= bet_condition.label :condition %><br />
        <%= bet_condition.text_area :condition, :size => '100x5' %><br />
      </div>
    <% end %>  

    <!-- <%= bet_form.label :end_date %><br />
    <%= bet_form.text_field :end_date %><br /> -->

    <div class="grid_16"><h3>Challenger's Terms</h3></div>
    <% bet_form.fields_for :challenger_bet_conditions do |bet_condition| %>
      <div class="grid_16">    
        Challenger<%= bet_condition.collection_select :user_id, @users, :id, :login %></p>
      </div>
      <div class="grid_16">
        <%= bet_condition.label :odds %>
        <%= bet_condition.text_field :ratio, :size => 5, :value => 1 %><br />
      </div>
     <div class="grid_16">
        <%= bet_condition.label :condition %><br />
        <%= bet_condition.text_area :condition, :size => '100x5' %><br />    
      </div>
    <% end %>
  
    
    <div class="grid_16"><%= bet_form.submit "Create Bet" %></div>
  <% end %>
</div>