<h1>Create a bet</h1>
 
<% form_for @bet, :url => bet_path do |bet_form| %>
  <%= bet_form.error_messages %>
  
  <%= bet_form.label :title %><br />
  <%= bet_form.text_field :title %><br />
  <%= bet_form.label :prize %><br />
  <%= bet_form.text_field :prize %><br />
    
  <h1>Your Betting Terms</h1>
  <% bet_form.fields_for :user_bet_conditions do |bet_condition| %>
    <p>
    <%= bet_condition.label :condition %><br />
    <%= bet_condition.text_area :condition %><br />
    <%= bet_condition.label :odds %><br />
    <%= bet_condition.text_field :ratio %><br />
  <% end %>  
  
  <!-- <%= bet_form.label :end_date %><br />
  <%= bet_form.text_field :end_date %><br /> -->
  
  <h1> Challenger's Terms</h1>
  <% bet_form.fields_for :challenger_bet_conditions do |bet_condition| %>
    <p>Bettee:<%= bet_condition.collection_select :user_id, @users, :id, :login %></p>
    <%= bet_condition.label :condition %><br />
    <%= bet_condition.text_area :condition %><br />    
    <%= bet_condition.label :odds %><br />
    <%= bet_condition.text_field :ratio %><br />
  <% end %>
  
  <%= bet_form.submit "Create Bet" %>
<% end %>