<div class="container_16">  
  <div class="grid_2">Title:</div>
  <div class="grid_14"><%= @bet.title %></div>      
  <div class="grid_2">Prize:</div>  
  <div class="grid_14"><%= @bet.prize.name %></div>    
  <div class="grid_2">Creator:</div>  
  <div class="grid_14"><%= @bet.user.login %></div>  
  <div class="grid_2">Challenger:</div>  
  <div class="grid_14"><%= @bet.get_challenger.login %></div>  
  <div class="grid_2">Conditions:</div>  
  <div class="grid_14"><%= @bet.bet_conditions[0].condition %></div>
  <div class="grid_4">
  <% if @bet.is_participant(current_user.id) %>  
    <% if @bet.is_active %>
      <%= link_to "Complete", bet_path(@bet), :action => "update" %>         
    <% elsif @bet.user != current_user && !@bet.is_active && !@bet.is_closed %>
      <%= link_to "Accept", {:controller => "bet_requests", :action => "update", :has_accepted => true, 
                             :bet_id => @bet.id} , :method => :put %>
      <%= link_to "Deny", {:controller => "bet_requests", :action => "update", :bet_id => @bet.id} , :method => :put %>        
    <% else %>
      <%= link_to "Cancel", bet_path(@bet), :action => "update" %>         
    <% end %>
  <% end %>
  </div>    
</div>