<div class="container_16">  
    
  <div class="grid_16"><h1>Active Bets</h1></div>  
  <div id="bet_container">
    <%= render :partial => 'bet_header' %>
    <% for user_bet in @user_bets %>
      <% if !user_bet.is_pending %>    
      <div class="grid_5"><%= link_to user_bet.title, bet_path(user_bet) %></div>
      <div class="grid_3"><%= user_bet.get_challenger.login %></div>
      <div class="grid_1">
        <%= user_bet.get_bettor_ratio.ratio %>:<%= user_bet.get_challenger_ratio.ratio %>
      </div>      
      <div class="grid_5"><%= user_bet.prize.name %></div>    
      <div class="grid_2">
          <%= link_to "Complete" %>         
        </div>
      <% end %>
    <% end%>
  </div>

  <div class="grid_16"><h1>Pending Bets</h1></div>          
  <div id="bet_container">  
    <%= render :partial => 'bet_header' %>  
    <% for pending_bet in @pending_bets %>
      <% if pending_bet.is_pending %>    
      <div class="grid_5"><%= link_to pending_bet.title, bet_path(pending_bet) %></div>
        <div class="grid_3"><%= pending_bet.get_challenger.login %></div>
        <div class="grid_1">
          <%= pending_bet.get_bettor_ratio.ratio %>:<%= pending_bet.get_challenger_ratio.ratio %>
        </div>        
        <div class="grid_5"><%= pending_bet.prize.name %></div>    
        <div class="grid_2">
          <%= link_to "Cancel" %>         
        </div>
      <% end %>
    <% end%>    
  </div>  
  
  <div class="grid_16"><h1>Bet Requests</h1></div>  
    <div class="grid_5"><h3>Title</h3></div>
    <div class="grid_5 suffix_6"><h3>Prize</h3></div>
  
    <div id="bet_container" class="container_16">
      <% for requested_bet in @requested_bets %>

          <div class="grid_5"><%= link_to requested_bet.title, bet_path(requested_bet) %></div>
          <div class="grid_5"><%= requested_bet.prize.name %></div>
          <div class="grid_4">
            <%= link_to "Accept", {:controller => "bet_requests", :action => "update", :has_accepted => true, :bet_id => requested_bet.id} , :method => :put %>
            <%= link_to "Deny", :controller => "BetRequests", :action => "update", :has_accepted => false, :bet_id => requested_bet.id %>
          </div>
      <% end %>
    </div>
</div>  