<div id="dashboard_title">Active Bets</div
<div id="dashboard_inner">
    <%= render :partial => 'missing_bets', :locals => {:is_bets_empty => @user_bets.empty?} %>
    <% for user_bet in @user_bets %>
      <%= link_to user_bet.title, bet_path(user_bet) %> vs. <%= pending_bet.challenger_login %>
      <br/>
    <% end%>
</div>

<p/>
<div id="dashboard_title">Pending Bets</div>              
<div id="dashboard_inner">
  <%= render :partial => 'missing_bets', :locals => {:is_bets_empty => @pending_bets.empty?} %>
  <% for pending_bet in @pending_bets %>
   <%= link_to pending_bet.title, bet_path(pending_bet) %> vs. <%= pending_bet.challenger_login %>
   <br/> 
  <% end%>    
</div>

<p/>
<div id="dashboard_title">Bet Requests</div>
<div id="dashboard_inner"> 
  <%= render :partial => 'missing_bets', :locals => {:is_bets_empty => @requested_bets.empty?} %>
  <% for requested_bet in @requested_bets %>
    <%= link_to requested_bet.title, bet_path(requested_bet) %> vs. <%= pending_bet.challenger_login %>
    <br/>
  <% end %>
</div>