<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
       
<%= javascript_include_tag :all %>
<%= calendar_date_select_includes "red" %>       
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>SideBettor</title>
  <%= stylesheet_link_tag '960' %>
  <%= stylesheet_link_tag 'style' %>  
  <%= stylesheet_link_tag '2_col_liquid' %>  
</head>
<body>
  <div id="main_wrapper">
    <%= render :partial => 'layouts/header' %>
    <p style="color: green"><%= flash[:notice] %></p>
    
  <div id="content">
    <div id="content_inner">  
      <%= yield  %>
    </div> <!-- end content_inner -->
  </div> <!-- end content -->
  </div> <!-- end main_wrapper -->  
</body>
</html>
